<div id="accordion" class="floorplan" role="tablist">
    <div class="card">
        <div class="card-header" role="tab" id="headingOne">
            <a class="text-capitalize" data-toggle="collapse" href="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                first floor <span class="badge badge-light rounded p-1 ml-2">460 sq ft</span>
            </a>
        </div>
        <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
            data-parent="#accordion">
            <div class="card-body">
                <figure>
                    <img src="../../images/floorplan.jpg" alt="" class="img-fluid">
                </figure>

                Excepteur sint ocaec at cupdatat proident suntin culpa qui officia deserunt mol anim id esa laborum
                perspiciat.
                Duis aute irure dolor reprehenderit in voluptate velit essle cillum dolore eu fugiat nulla pariatur.

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingTwo">

            <a class="collapsed text-capitalize" data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                second floor <span class="badge badge-light rounded p-1 ml-2">460 sq ft</span>
            </a>
        </div>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <figure>
                    <img src="../../images/floorplan2.jpg" alt="" class="img-fluid">
                </figure>
                They offers a host of logistic management services and supply chain . We provide innovative solutions
                with the best. tempor incididunt ut labore et dolor empor tempor incididunt innovative solutions

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" role="tab" id="headingThree">
            <a class="collapsed text-capitalize" data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                garage <span class="badge badge-light rounded p-1 ml-2">460 sq ft</span>
            </a>
        </div>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree"
            data-parent="#accordion">
            <div class="card-body">
                <figure>
                    <img src="../../images/floorplan3.jpg" alt="" class="img-fluid">
                </figure>
                They offers a host of logistic management services and supply chain . We provide innovative solutions
                with the best. tempor incididunt ut labore et dolor empor tempor incididunt innovative solutions

            </div>
        </div>
    </div>

</div>