<ul class="list-unstyled">
    <li>
        <a href="#" class="text-capitalize">
            apartement
            <span class="badge badge-primary">14</span>
        </a>
    </li>
    <li>
        <a href="#" class="text-capitalize">
            villa
            <span class="badge badge-primary">4</span>
        </a>
    </li>
    <li>
        <a href="#" class="text-capitalize">
            family house
            <span class="badge badge-primary">2</span>
        </a>
    </li>
    <li>
        <a href="#" class="text-capitalize">
            modern villa
            <span class="badge badge-primary">8</span>
        </a>
    </li>
    <li>
        <a href="#" class="text-capitalize">
            town house
            <span class="badge badge-primary">10</span>
        </a>
    </li>
    <li>
        <a href="#" class="text-capitalize">
            office
            <span class="badge badge-primary">12</span>
        </a>
    </li>
</ul>