<div class="">
    <div class="row">
        <div class="col-md-12 float-right p-0">
            <div class="box__overlay-right float-right">
                <div class="text-center pb-4">
                    <h5 class="text-white text-capitalize">
                        why choose Us
                    </h5>
                    <p class="text-white">
                        we provide full service at every step
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        ${require('./card-v1.html')}
                    </div>
                    <div class="col-md-6">
                        ${require('./card-v1.html')}
                    </div>
                    <div class="col-md-6">
                        ${require('./card-v1.html')}
                    </div>
                    <div class="col-md-6">
                        ${require('./card-v1.html')}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>