<div class="cards__icons-style-1">
    <div class="cards__icons-header">
        <div class="cards__icons-header-left">
            <i class="fa fa-home text-white fa-3x"></i>
        </div>
    </div>
    <div class="cards__icons-footer ">
        <h5 class="text-capitalize text-white">residential</h5>
        <p class="text-white">
            Duis autem vel eum iriure dolor in hend rerit in vulputate velit esse molestie vel illum dolore nulla
            facilisis.
        </p>
    </div>
</div>