<!-- CARD IMAGE -->

<a href="#">
    <div class="card__image-hover h-250">
        <div class="card__image-hover-overlay">
            <div class="listing-badges">
                <span class="featured">
                    Featured
                </span>
                <span>
                    For Rent
                </span>
            </div>
            <div class="card__image-content">
                <div class="card__image-content-desc">
                    <h6> Citra Garden Estate</h6>
                    <p class="mb-0"> $1300 / monthly</p>
                </div>
                <ul class="list-inline card__hidden-content">
                    <li class="list-inline-item">
                        Baths
                        <span>
                            <i class="fa fa-bath"></i> 2
                        </span>
                    </li>
                    <li class="list-inline-item">
                        Beds
                        <span>
                            <i class="fa fa-bed"></i> 2
                        </span>
                    </li>
                    <li class="list-inline-item">
                        Rooms
                        <span>
                            <i class="fa fa-inbox"></i> 3
                        </span>
                    </li>
                    <li class="list-inline-item">
                        Area
                        <span>
                            <i class="fa fa-map"></i> 1450 sq ft
                        </span>
                    </li>

                </ul>
            </div>
            <img alt="" src="../../images/placeholder/600x400.jpg" class="img-fluid h-40 ">
        </div>
    </div>
</a>