<div class="card__form" style="width: 18rem;">
    <div class="card__body">
        <div class="card__body-title">
            <h5>star booking a place</h5>
            <p>find place that suite for you need, it's easy</p>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    </div>
</div>