<!-- CARD IMAGE -->

<a href="#">
    <div class="card__image-hover card__image-hover-style-v2">
        <div class="card__image-hover-overlay">
            <div class="listing-badges">
                <span class="featured">
                    Featured
                </span>
                <span>
                    For Rent
                </span>
            </div>
            <div class="card__image-content card__image-style-2">
                <div class="card__image-content-desc">
                    <h5 class="mb-1"> Citra Garden Estate</h5>
                    <p class="mb-0"> $1300 / monthly</p>
                </div>
                <ul class="list-inline card__hidden-content-style-2">

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita voluptate odio quidem et
                        laboriosam nesciunt minus, </p>


                </ul>
            </div>
            <img alt="" src="../../images/placeholder/500x400.jpg" class="img-fluid">
        </div>
    </div>
</a>