<!-- CAROUSEL -->
<div class="slider-container">
    <div class="container-slider-image-full  ">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators d-none">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active banner-max-height">
                    <img class="d-block w-100" src="../../images/placeholder/1920x1080.jpg" alt="First slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                        <div class="slider__content-title ">
                                            <h2 data-animation="fadeInDown" data-delay=".2s" data-duration="1000ms"
                                                class="text-white animated fadeInDown">
                                                The #1 place for commercial
                                                property</h2>
                                            <p data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms"
                                                class="text-white animated fadeInUp">

                                                This is real estate website template based on Bootstrap 4 framework.
                                            </p>
                                            <a href="#" data-animation="fadeInUp" data-delay=".6s"
                                                data-duration="1000ms"
                                                class="btn btn-primary text-uppercase animated fadeInUp">
                                                contact us
                                                <i class="fa fa-angle-right arrow-btn "></i></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../images/placeholder/1920x1080.jpg" alt="Second slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                        <div class="slider__content-title ">
                                            <h2 data-animation="animated fadeInDown"
                                                class="text-white animated fadeInDown">
                                                The #1 place for commercial
                                                property</h2>
                                            <p data-animation="animated fadeInUp" class="text-white animated fadeInUp ">

                                                This is real estate website template based on Bootstrap 4 framework.
                                            </p>
                                            <a href="#" class="btn btn-primary text-uppercase animated fadeInUp">
                                                contact us
                                                <i class="fa fa-angle-right arrow-btn "></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item banner-max-height">
                    <img class="d-block w-100" src="../../images/placeholder/1920x1080.jpg" alt="Third slide">
                    <div class="carousel-caption banner__slide-overlay d-flex h-100">
                        <div class="carousel__content">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                        <div class="slider__content-title ">
                                            <h2 data-animation="animated fadeInDown"
                                                class="text-white animated fadeInDown">
                                                The #1 place for commercial
                                                property</h2>
                                            <p data-animation="animated fadeInUp" class="text-white animated fadeInUp ">

                                                This is real estate website template based on Bootstrap 4 framework.
                                            </p>
                                            <a href="#" class="btn btn-primary text-uppercase animated fadeInUp">
                                                contact us
                                                <i class="fa fa-angle-right arrow-btn "></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span> -->
            <span class="carousel-control-nav-prev">
                <i class="fa fa-2x fa-angle-left"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span> -->
            <span class="carousel-control-nav-next">
                <i class="fa fa-2x fa-angle-right"></i>
            </span>
        </a>
    </div>
</div>

<div class="clearfix"></div>
<!-- END CAROUSEL -->