<!-- start slideshow-->
<div class="container-fluid main-slider">
    <div class="row slider-fade">
        <div class="owl-carousel owl-theme width-100">
            <div class="text-center item cover-background bg-img" data-overlay-dark="7"
                data-background="../../images/bg11.jpg">
                <div class="absolute-middle-center caption">
                    <div class="overflow-hidden">
                        <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">Welcome to</h3>
                        <h1 class="text-white">Best Medical &amp; Hospital</h1>
                        <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our
                            patients and always try to achieve our patients trust</p>
                        <a href="javascript:void(0);" class="butn">
                            <span class="alt-font">Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center item cover-background bg-img" data-overlay-dark="6"
                data-background="../../images/bg11.jpg">
                <div class="absolute-middle-center caption">
                    <div class="overflow-hidden">
                        <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We provide</h3>
                        <h1 class="text-white">Health care solution</h1>
                        <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our
                            patients and always try to achieve our patients trust</p>
                        <a href="javascript:void(0);" class="butn">
                            <span class="alt-font">Learn More</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center item cover-background bg-img" data-overlay-dark="6"
                data-background="../../images/bg3.jpg">
                <div class="absolute-middle-center caption">
                    <div class="overflow-hidden">
                        <h3 class="alt-font font-size28 sm-font-size18 text-white no-margin">We always</h3>
                        <h1 class="text-white">We caring for life</h1>
                        <p class="margin-30px-bottom sm-margin-20px-bottom sm-display-none">We provide best for our
                            patients and always try to achieve our patients trust</p>
                        <a href="javascript:void(0);" class="butn">
                            <span class="alt-font">Learn More</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end slideshow-->