<div class="row">
    <div class="col-md-12">
        <p class="mb-2">Your rating for this listing:</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <i class="fa fa-star selected"></i>
                <i class="fa fa-star selected"></i>
                <i class="fa fa-star selected"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </li>
            <li class="list-inline-item">3/5</li>
        </ul>
        <div class="form-group">
            <label>Your Name</label>
            <input type="text" class="form-control" required="required">

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>What's your Email?</label>
            <input type="email" class="form-control" required="required">

        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" required="required">

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Your message</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
    </div>
</div>

<button type="submit" class="btn btn-primary float-right "> Submit review <i
        class="fa fa-paper-plane ml-2"></i></button>