<!-- FORM FILTER -->
<div class="products__filter mb-30">
    <div class="products__filter__group">
        <div class="products__filter__header">

            <h5 class="text-center text-capitalize">find agents</h5>
        </div>
        <div class="products__filter__body">
            <div class="form-group">
                <label>Enter Agent name</label>
                <input type="text" class="form-control" placeholder="Enter agent name">

            </div>
            <div class="form-group">
                <label>All Categories</label>
                <select class="select_option wide">
                    <option data-display="All Categories">All Categories</option>

                    <option>Apartment</option>
                    <option>Bungalow</option>
                    <option>Condo</option>
                    <option>House</option>
                    <option>Land</option>
                    <option>Single Family</option>
                </select>

            </div>
            <div class="form-group">
                <label>All Cities</label>
                <select class="select_option wide">
                    <option data-display="All City">All Cities</option>
                    <option>Atlanta</option>
                    <option>Florida</option>
                    <option>Los Angeles</option>
                    <option>Miami</option>
                    <option>New York</option>
                    <option>Orlando</option>
                </select>

            </div>
        </div>
        <div class="products__filter__footer">
            <div class="form-group mb-0">
                <button class="btn btn-primary text-capitalize btn-block"> search agents <i
                        class="fa fa-search ml-1"></i></button>

            </div>
        </div>
    </div>

</div>
<!-- END FORM FILTER -->