<!-- FORM FILTER -->
<div class="products__filter mb-30">
    <div class="products__filter__group">
        <div class="products__filter__header">

            <h5 class="text-center text-capitalize">property filter</h5>
        </div>
        <div class="products__filter__body">
            <div class="form-group">

                <select class="wide select_option">
                    <option data-display="Property Status">Property Status</option>
                    <option>For Sale</option>
                    <option>For Rent</option>

                </select>
            </div>
            <div class="form-group">
                <select class="wide select_option">
                    <option data-display="Property Type">Property Type</option>
                    <option>Residential</option>
                    <option>Commercial</option>
                    <option>Land</option>
                    <option>Luxury</option>
                </select>
            </div>
            <div class="form-group">
                <select class="wide select_option">
                    <option data-display="Area From">Area From </option>
                    <option>1500</option>
                    <option>1200</option>
                    <option>900</option>
                    <option>600</option>
                    <option>300</option>
                    <option>100</option>
                </select>
            </div>
            <div class="form-group">
                <select class="wide select_option">
                    <option data-display="Locations">Locations</option>
                    <option>United Kingdom</option>
                    <option>American Samoa</option>
                    <option>Belgium</option>
                    <option>Canada</option>
                    <option>Delaware</option>
                </select>
            </div>
            <div class="form-group">
                <select class="wide select_option">
                    <option data-display="Bedrooms">Bedrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Bathrooms">Bathrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>

                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="mb-3">Price range</label>
                <div class="filter__price">
                    <input class="price-range" type="text" name="my_range" value="" />
                </div>
            </div>

            <div class="form-group mb-0 mt-2">

                <a class="btn btn-outline-primary btn-block text-capitalize advanced-filter" data-toggle="collapse"
                    href="#multiCollapseExample1" aria-controls="multiCollapseExample1"><i
                        class="fa fa-plus-circle"></i> advanced
                    filter
                </a>

                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="advancedfilter">
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox2" type="checkbox">
                            <label for="checkbox2" class="label-brand text-capitalize">
                                Air Conditioning
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox3" type="checkbox">
                            <label for="checkbox3" class="label-brand text-capitalize">
                                Swiming Pool
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox4" type="checkbox">
                            <label for="checkbox4" class="label-brand text-capitalize">
                                Central Heating
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox5" type="checkbox">
                            <label for="checkbox5" class="label-brand text-capitalize">
                                Spa & Massage
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox6" type="checkbox">
                            <label for="checkbox6" class="label-brand text-capitalize">
                                Pets Allow
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox7" type="checkbox">
                            <label for="checkbox7" class="label-brand text-capitalize">
                                Air Conditioning
                            </label>

                        </div>

                        <div class="checkbox checkbox-primary">
                            <input id="checkbox8" type="checkbox">
                            <label for="checkbox8" class="label-brand text-capitalize">
                                Gym
                            </label>

                        </div>

                        <div class="checkbox checkbox-primary">
                            <input id="checkbox9" type="checkbox">
                            <label for="checkbox9" class="label-brand text-capitalize">
                                Alarm
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox10" type="checkbox">
                            <label for="checkbox10" class="label-brand text-capitalize">
                                Window Covering
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox11" type="checkbox">
                            <label for="checkbox11" class="label-brand text-capitalize">
                                Free WiFi
                            </label>

                        </div>
                        <div class="checkbox checkbox-primary">
                            <input id="checkbox12" type="checkbox">
                            <label for="checkbox12" class="label-brand text-capitalize">
                                Car Parking
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products__filter__footer">
            <div class="form-group mb-0">
                <button class="btn btn-primary text-capitalize btn-block"><i class="fa fa-search ml-1"></i> search
                    property </button>

            </div>
        </div>
    </div>

</div>
<!-- END FORM FILTER -->