<!-- SEARCH BAR -->
<div class="wrapper__section">
    <div class="wrapper__section__components">
        <div class="row">
            <div class="col-lg-12">
                <!-- <h3 class="section_heading mt-4">Form Search with Categories</h3> -->
                <div class=" search__container">
                    <div class="row input-group no-gutters">
                        <div class="col-sm-12 col-md-5">
                            <input type="text" class="form-control" aria-label="Text input"
                                placeholder="Search for Homes by Address, City . . . .">
                        </div>


                        <div class="col-sm-12 col-md-4 input-group">

                            <select class="select_option form-control" name="select" id="categories">
                                <option selected>All Categories</option>
                                <option>House</option>
                                <option>Apartement </option>
                                <option>Hotel</option>
                                <option>Residential</option>
                                <option>Land</option>
                                <option>Luxury</option>

                            </select>

                        </div>
                        <div class="col-sm-12 col-md-3 input-group-append">
                            <button class="btn btn-primary btn-block" type="submit">
                                <i class="fa fa-search"></i> <span class="ml-1 text-uppercase">Search</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>