<!-- SEARCH BAR -->
<div class="wrapper__section wrap__serach-field ">
    <div class="wrapper__section__components">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="text-center text-capitalize text-white">find your dream home</h4>
                </div>
            </div>
            <div class="search__container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <div class="input-group">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <select class="select_option form-control" name="select" id="categori">
                                <option selected value="1">Semua katagori</option>
                                <option value="2">Rumah</option>
                                <option value="3">Apartement </option>
                                <option value="4">Hotel</option>
                                <option value="5">Lahan tanah </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SEARCH BAR -->