<div class="container">
    <div class="search__area-inner">
        <div class="row">
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Property Status">Property Status</option>
                        <option>For Sale</option>
                        <option>For Rent</option>

                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Property Type">Property Type</option>
                        <option>Residential</option>
                        <option>Commercial</option>
                        <option>Land</option>
                        <option>Luxury</option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Area From">Area From </option>
                        <option>1500</option>
                        <option>1200</option>
                        <option>900</option>
                        <option>600</option>
                        <option>300</option>
                        <option>100</option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Locations">Locations</option>
                        <option>United Kingdom</option>
                        <option>American Samoa</option>
                        <option>Belgium</option>
                        <option>Canada</option>
                        <option>Delaware</option>
                        <option>Indonesia</option>
                        <option>Malaysia</option>
                        <option>Japan</option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Bedrooms">Bedrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                    </select>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-3">
                <div class="form-group">
                    <select class="wide select_option">
                        <option data-display="Bathrooms">Bathrooms</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>


                    </select>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="form-group">
                    <div class="filter__price">
                        <input class="price-range" type="text" name="my_range" value="" />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-3">
                <div class="form-group">
                    <button class="btn btn-primary text-uppercase btn-block"> search <i
                            class="fa fa-search ml-1"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>