<!-- FILTER VERTICAL -->
<ul class="nav nav-pills myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active pills-tab-one" data-toggle="pill" href="#pills-tab-one" role="tab"
            aria-controls="pills-tab-one" aria-selected="true">
            Description
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link pills-tab-two" data-toggle="pill" href="#pills-tab-two" role="tab"
            aria-controls="pills-tab-two" aria-selected="false">
            Listing</a>
    </li>

    <li class="nav-item">
        <a class="nav-link pills-tab-four" data-toggle="pill" href="#pills-tab-four" role="tab"
            aria-controls="pills-tab-four" aria-selected="false">
            Reviews</a>
    </li>


</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="pills-tab-one" role="tabpanel" aria-labelledby="pills-tab-one">
        <div class="single__detail-desc">
            <h5 class="text-capitalize detail-heading">Hi, nice to meet you</h5>
            <div class="show__more">
                <p>Evans Tower very high demand corner junior one bedroom plus a large balcony
                    boasting
                    full open NYC views. You need to see the views to believe them. Mint condition
                    with
                    new hardwood floors. Lots of closets plus washer and dryer.</p>
                <p>
                    Fully furnished. Elegantly appointed condominium unit situated on premier
                    location.
                    PS6. The wide entry hall leads to a large living room with dining area. This
                    expansive 2 bedroom and 2 renovated marble bathroom apartment has great windows.
                    Despite the interior views, the apartments Southern and Eastern exposures allow
                    for
                    lovely natural light to fill every room. The master suite is surrounded by
                    handcrafted milkwork and features incredible walk-in closet and storage space.
                </p>
                <p>Fully furnished. Elegantly appointed condominium unit situated on premier
                    location. PS6. The wide entry hall leads to a large living room with dining
                    area. This expansive 2 bedroom and 2 renovated marble bathroom apartment has
                    great windows. Despite the interior views, the apartments Southern and Eastern
                    exposures allow for lovely natural light to fill every room. The master suite is
                    surrounded by handcrafted milkwork and features incredible walk-in closet and
                    storage space.</p>
                <a href="javascript:void(0)" class="show__more-button ">read more</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="tab-pane fade" id="pills-tab-two" role="tabpanel" aria-labelledby="pills-tab-two">
        <div class="row">
            <div class="col-lg-12">
                ${require('./card-image-vertical.html')}
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">Ample Apartment At Last Floor</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                
                                    </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>

                                    </li>


                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">Ample Apartment At Last Floor</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                
                                    </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>

                                    </li>


                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">Family Home For Sale</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                    
                                        </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>

                                    </li>


                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">Luxury Villa With Pool</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                    
                                        </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>

                                    </li>


                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">184 Lexington Avenue</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                    
                                        </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>
                                    </li>

                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card__image card__box-v1">
                    <div class="row no-gutters">
                        <div class="col-md-4 col-lg-3 col-xl-4">
                            <div class="card__image__header h-250">
                                <a href="#">
                                    <div class="ribbon text-capitalize">sold out</div>
                                    <img src="../../images/placeholder/600x400.jpg" alt=""
                                        class="img-fluid w100 img-transition">
                                    <div class="info"> for sale</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-6 col-xl-5 my-auto">
                            <div class="card__image__body">

                                <span class="badge badge-primary text-capitalize mb-2">house</span>
                                <h6>
                                    <a href="#">The Citizen Apartment 5th Floor</a>
                                </h6>
                                <div class="card__image__body-desc">
                                    <!-- <p class="text-capitalize">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, alias!
                    
                                        </p> -->
                                    <p class="text-capitalize">
                                        <i class="fa fa-map-marker"></i>
                                        west flaminggo road, las vegas
                                    </p>
                                </div>

                                <ul class="list-inline card__content">
                                    <li class="list-inline-item">

                                        <span>
                                            baths <br>
                                            <i class="fa fa-bath"></i> 2
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            beds <br>
                                            <i class="fa fa-bed"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            rooms <br>
                                            <i class="fa fa-inbox"></i> 3
                                        </span>
                                    </li>
                                    <li class="list-inline-item">
                                        <span>
                                            area <br>
                                            <i class="fa fa-map"></i> 4300 sq ft
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 my-auto card__image__footer-first">
                            <div class="card__image__footer">
                                <figure>
                                    <img src="../../images/placeholder/80x80.jpg" alt=""
                                        class="img-fluid rounded-circle">
                                </figure>
                                <ul class="list-inline my-auto">
                                    <li class="list-inline-item name">
                                        <a href="#">
                                            tom wilson
                                        </a>

                                    </li>


                                </ul>
                                <ul class="list-inline  my-auto ml-auto price">
                                    <li class="list-inline-item ">

                                        <h6>$350.000</h6>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>

    </div>

    <div class="tab-pane fade" id="pills-tab-four" role="tabpanel" aria-labelledby="pills-tab-four">

        <!-- RATE US  WRITE -->
        <div class="single__detail-features-review ">
            <div class="media mt-4">
                <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid rounded-circle mr-3">
                <div class="media-body">
                    <h6 class="mt-0">Jhon doe</h6>
                    <span class="mb-3">Mei 13, 2020</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">3/5</li>
                    </ul>
                    <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                        ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                        viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec
                        lacinia congue felis in faucibus.</p>

                    <div class="media mt-4">
                        <a class="pr-3" href="#">
                            <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid rounded-circle">
                        </a>
                        <div class="media-body">
                            <h6 class="mt-0">Mark </h6>
                            <span class="mb-3">Mei 13, 2020</span>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <i class="fa fa-star selected"></i>
                                    <i class="fa fa-star selected"></i>
                                    <i class="fa fa-star selected"></i>
                                    <i class="fa fa-star selected"></i>
                                    <i class="fa fa-star selected"></i>
                                </li>
                                <li class="list-inline-item">5/5</li>
                            </ul>
                            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                scelerisque ante sollicitudin. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="media mt-4">
                <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid rounded-circle mr-3">
                <div class="media-body">
                    <h6 class="mt-0">Jhon Doe</h6>
                    <span class="mb-3">Mei 13, 2020</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                        </li>
                        <li class="list-inline-item">5/5</li>
                    </ul>
                    <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                        ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                        viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                        Donec
                        lacinia congue felis in faucibus.</p>


                </div>
            </div>
            <!-- COMMENT -->
            <hr>
            ${require('./form.html')}
            <!-- END COMMENT -->
        </div>

        <!-- END RATE US  WRITE -->
        <div class="clearfix"></div>
    </div>


</div>
<!-- END FILTER VERTICAL -->