<div class="blog__tags p-0">
    <ul class="list-inline">

        <li class="list-inline-item">
            <a href="#">
                #property
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #wfh
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #estate
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #real estate
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #listing
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #rent
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #sell
            </a>
        </li>

        <li class="list-inline-item">
            <a href="#">
                #family
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                #happy
            </a>
        </li>

        <li class="list-inline-item">
            <a href="#">
                #agents
            </a>
        </li>

        <li class="list-inline-item">
            <a href="#">
                #promo
            </a>
        </li>


    </ul>
</div>