<!-- TESTIMONIAL -->
<div class="item testimonial__block">
    <div class="testimonial__block-card bg-reviews">
        <p>
            Thank you walls property help me, choice dream home We were impressed with the build
            quality, Plus they are competitively priced.
        </p>
    </div>
    <div class="testimonial__block-users">
        <div class="testimonial__block-users-img">
            <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
        </div>
        <div class="testimonial__block-users-name">
            jhon doe <br>
            <span>owner, digital agency</span>
        </div>
    </div>
</div>
<!-- END TESTIMONIAL -->