// -----------------------------------------------------------------------------
// Default theme
// -----------------------------------------------------------------------------

// Bootstrap primary
$theme-colors: (
    "primary": #3454d1,
    "dark": #111111,
    "light": #f9f9f8,
);
$enable-rounded: false;
$enable-shadows: false;
