<div class="card__image card__box-v1">
    <div class="card__image-header h-250 img-space">
        <div class="ribbon text-capitalize">sold out</div>
        <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w100 img-transition">
        <div class="info"> for sale</div>
    </div>
    <div class="card__image-body">
        <span class="badge badge-primary text-capitalize mb-2">house</span>
        <h6 class="text-capitalize">
            <a href="#">vila in coral gables</a>
        </h6>

        <p class="text-capitalize">
            <i class="fa fa-map-marker"></i>
            west flaminggo road, las vegas
        </p>
        <ul class="list-inline card__content">
            <li class="list-inline-item">

                <span>
                    baths <br>
                    <i class="fa fa-bath"></i> 2
                </span>
            </li>
            <li class="list-inline-item">
                <span>
                    beds <br>
                    <i class="fa fa-bed"></i> 3
                </span>
            </li>
            <li class="list-inline-item">
                <span>
                    rooms <br>
                    <i class="fa fa-inbox"></i> 3
                </span>
            </li>
            <li class="list-inline-item">
                <span>
                    area <br>
                    <i class="fa fa-map"></i> 4300 sq ft
                </span>
            </li>
        </ul>
    </div>
    <div class="card__image-footer">
        <figure>
            <img src="../../images/logo.jpg" alt="" class="img-fluid rounded-circle">
        </figure>
        <ul class="list-inline my-auto">
            <li class="list-inline-item">
                <a href="#">
                    tom wilson
                </a>

            </li>

        </ul>
        <ul class="list-inline my-auto ml-auto">
            <li class="list-inline-item">

                <h6 class="text-primary">$350.000</h6>
            </li>

        </ul>
    </div>
</div>