<!-- CAROUSEL HOMEPAGE 3 -->
<div class="homepage__property bg-light">
    <div class="homepage__property-carousel owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                ${require('./card-image-v7.html')}
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="tc-image-caption4">
                    <img src="../../images/placeholder/800x1000.jpg" alt="img1">
                    <div class="caption">
                        <h6 class="text-uppercase text-white">walls property</h6>
                        <h2 class="text-capitalize">family house</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda!</p>
                    </div>

                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="tc-image-caption4">
                    <img src="../../images/placeholder/800x1000.jpg" alt="img1">
                    <div class="caption">
                        <h6 class="text-uppercase text-white">walls property</h6>
                        <h2 class="text-capitalize">family house</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda!</p>
                    </div>

                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="tc-image-caption4">
                    <img src="../../images/placeholder/800x1000.jpg" alt="img1">
                    <div class="caption">
                        <h6 class="text-uppercase text-white">walls property</h6>
                        <h2 class="text-capitalize">family house</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda!</p>
                    </div>

                </div>
            </a>
        </div>
        <div class="item">
            <a href="#">
                <div class="tc-image-caption4">
                    <img src="../../images/placeholder/800x1000.jpg" alt="img1">
                    <div class="caption">
                        <h6 class="text-uppercase text-white">walls property</h6>
                        <h2 class="text-capitalize">family house</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, assumenda!</p>
                    </div>

                </div>
            </a>
        </div>


    </div>

</div>
<!-- END CAROUSEL HOMEPAGE 3 -->