<div class="single__detail-features-review">
    <div class="media mt-4">
        <img class="mr-3 img-fluid rounded-circle" src="../../images/placeholder/80x80.jpg" alt="">
        <div class="media-body">
            <h6 class="mt-0">Jhon doe</h6>
            <span class="mb-3">Mei 13, 2020</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </li>
                <li class="list-inline-item">3/5</li>
            </ul>
            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.</p>

            <div class="media mt-4">
                <a class="pr-3" href="#">
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid rounded-circle">
                </a>
                <div class="media-body">
                    <h6 class="mt-0">Christine </h6>
                    <span class="mb-3">Mei 13, 2020</span>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                            <i class="fa fa-star selected"></i>
                        </li>
                        <li class="list-inline-item">5/5</li>
                    </ul>
                    <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                        scelerisque ante sollicitudin. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="media mt-4">
        <img class="mr-3 img-fluid rounded-circle" src="../../images/placeholder/80x80.jpg" alt="">
        <div class="media-body">
            <h6 class="mt-0">Jhon Doe</h6>
            <span class="mb-3">Mei 13, 2020</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                    <i class="fa fa-star selected"></i>
                </li>
                <li class="list-inline-item">5/5</li>
            </ul>
            <p> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                Donec
                lacinia congue felis in faucibus.</p>


        </div>
    </div>
    <!-- COMMENT -->
    <hr>
    ${require('./form.html')}
    <!-- END COMMENT -->

</div>