<div class="row ">
    <div class="col-lg-3">
        <div class="counter__item count">
            <div class="counter__item-value count-value" data-count="1324">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-home text-white"></i>
                        <span class="text-white start-count">0</span>
                        <h6 class="text-uppercase text-white mb-0">listing for sale</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter__item count">
            <div class="counter__item-value count-value" data-count="1270">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-tags text-white"></i>
                        <span class="text-white start-count">0</span>
                        <h6 class="text-uppercase text-white mb-0">listing for rent</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter__item count">
            <div class="counter__item-value count-value" data-count="320">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-users text-white"></i>
                        <span class="text-white start-count">0</span>
                        <h6 class="text-uppercase text-white mb-0">agents</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="counter__item count">
            <div class="counter__item-value count-value" data-count="502">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-briefcase text-white"></i>
                        <span class="text-white start-count">0</span>
                        <h6 class="text-uppercase text-white mb-0">brokers</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>