<div class="cta">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-12 text-center">
                <h2 class="text-uppercase text-white">signup & build your dream house</h2>
                <p class="text-capitalize text-white">We'll help you to grow your career and growth, please contact
                    team
                    walls real estate and get this offer promo</p>
                <a href="#" class="btn btn-primary text-uppercase ">request a quote
                    <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>
            </div>
        </div>
    </div>
</div>