<!-- INFO PROPERTY DETAIL -->
<div class="property__detail-info">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <ul class="property__detail-info-list list-unstyled">
                <li><b>Property ID:</b> RV151</li>
                <li><b>Price:</b> $484,400</li>
                <li><b>Property Size:</b> 1466 Sq Ft</li>
                <li><b>Bedrooms:</b> 4</li>
                <li><b>Bathrooms:</b> 2</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-6">
            <ul class="property__detail-info-list list-unstyled">
                <li><b>Garage:</b> 1</li>
                <li><b>Garage Size:</b> 458 SqFt</li>
                <li><b>Year Built:</b> 2019-01-09</li>
                <li><b>Property Type:</b> Full Family Home</li>
                <li><b>Property Status:</b> For rent</li>
            </ul>
        </div>
    </div>
    <h6 class="text-primary">Additional details</h6>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <ul class="property__detail-info-list list-unstyled">
                <li><b>Property ID:</b> RV151</li>
                <li><b>Price:</b> $484,400</li>
                <li><b>Property Size:</b> 1466 Sq Ft</li>
                <li><b>Bedrooms:</b> 4</li>
                <li><b>Bathrooms:</b> 2</li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-6">
            <ul class="property__detail-info-list list-unstyled">
                <li><b>Garage:</b> 1</li>
                <li><b>Garage Size:</b> 458 SqFt</li>
                <li><b>Year Built:</b> 2019-01-09</li>
                <li><b>Property Type:</b> Full Family Home</li>
                <li><b>Property Status:</b> For rent</li>
            </ul>
        </div>
    </div>

</div>
<!-- END INFO PROPERTY DETAIL -->