<!-- FORM FILTER -->
<div class="products__filter mb-30">
    <div class="products__filter__group">
        <div class="products__filter__header">
            <h5 class="text-center text-capitalize">Contact Jhon Doe</h5>
        </div>
        <div class="products__filter__body">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Email (Optional)</label>
                <input type="email" class="form-control">
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Your message</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="products__filter__footer">
            <div class="form-group mb-0">
                <button class="btn btn-primary text-capitalize btn-block"> submit <i
                        class="fa fa-paper-plane ml-1"></i></button>

            </div>
        </div>
    </div>

</div>
<!-- END FORM FILTER -->