<!-- Gallery grid -->
<div class="wrap__gallery">
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#">
                <img src="../../images/180x180.jpg" alt="">
                <span class="icon_insta">
                    <i class="fa fa-instagram"></i>
                </span>
            </a>
        </li>


    </ul>
</div>