<!-- FILTER VERTICAL -->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-map-location-tab" data-toggle="pill" href="#pills-map-location" role="tab"
            aria-controls="pills-map-location" aria-selected="true">
            <i class="fa fa-map-marker"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-street-view-tab" data-toggle="pill" href="#pills-street-view" role="tab"
            aria-controls="pills-street-view" aria-selected="false">
            <i class="fa fa-street-view "></i></a>
    </li>


</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-map-location" role="tabpanel"
        aria-labelledby="pills-map-location-tab">
        <div id="map-canvas">
            <iframe class="h600 w100"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d50446.89789906054!2d-122.41577600000001!3d37.791654!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd473843de08ff793!2sBetter%20Property%20Management!5e0!3m2!1sen!2sus!4v1591226304089!5m2!1sen!2sus"
                style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    </div>
    <div class="tab-pane fade" id="pills-street-view" role="tabpanel" aria-labelledby="pills-street-view-tab">
        <iframe class="h600 w100"
            src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469"
            style="border:0;" allowfullscreen></iframe>
    </div>


</div>
<!-- END FILTER VERTICAL -->