<div class="row">
    <!-- - - - - - - - - - - - - - Pricing Table - - - - - - - - - - - - - - - - -->
    <div class="col-md-4">
        <div class="pricing-item">
            <h4 class="pricing-title">Free</h4>
            <div class="pricing-price">
                <span class="pricing-anim pricing-anim-1">
                    <span class="pricing-currency">$</span>5
                </span>
                <span class="pricing-anim pricing-anim-2">
                    <span class="pricing-period">.00/ month</span>
                </span>
            </div>
            <ul class="pricing-feature-list">
                <li class="pricing-feature">1 GB of space</li>
                <li class="pricing-feature">Support at $25/hour</li>
                <li class="pricing-feature">Small social media package</li>
            </ul>
            <a href="#" class="btn btn-primary btn-icon">Choose plan</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="pricing-item active">
            <h4 class="pricing-title">Free</h4>
            <div class="pricing-price">
                <span class="pricing-anim pricing-anim-1">
                    <span class="pricing-currency">$</span>10
                </span>
                <span class="pricing-anim pricing-anim-2">
                    <span class="pricing-period">.00/ month</span>
                </span>
            </div>
            <ul class="pricing-feature-list">
                <li class="pricing-feature">1 GB of space</li>
                <li class="pricing-feature">Support at $25/hour</li>
                <li class="pricing-feature">Small social media package</li>
            </ul>
            <a href="#" class="btn btn-primary btn-icon">Choose plan</a>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="pricing-item">
            <h4 class="pricing-title">Free</h4>
            <div class="pricing-price">
                <span class="pricing-anim pricing-anim-1">
                    <span class="pricing-currency">$</span>25
                </span>
                <span class="pricing-anim pricing-anim-2">
                    <span class="pricing-period">.00/ month</span>
                </span>
            </div>
            <ul class="pricing-feature-list">
                <li class="pricing-feature">1 GB of space</li>
                <li class="pricing-feature">Support at $25/hour</li>
                <li class="pricing-feature">Small social media package</li>
            </ul>
            <a href="#" class="btn btn-primary btn-icon">Choose plan</a>
        </div>
    </div>
</div>