<!-- PROFILE AGENT -->
<div class="profile__agent mb-30">
    <div class="profile__agent__group">

        <div class="profile__agent__header">
            <div class="profile__agent__header-avatar">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>

                <ul class="list-unstyled mb-0">
                    <li>
                        <h5 class="text-capitalize">jhon doe</h5>
                    </li>
                    <li><a href="tel:123456"><i class="fa fa-phone-square mr-1"></i>(123)456-7890</a></li>
                    <li><a href="javascript:void(0)"><i class=" fa fa-building mr-1"></i> Company name</a>
                    </li>
                    <li> <a href="javascript:void(0)" class="text-primary">View My Listing</a></li>
                </ul>


            </div>

        </div>
        <div class="profile__agent__body">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email">
            </div>
            <div class="form-group mb-0">
                <textarea class="form-control required" rows="5" required="required"
                    placeholder="I'm interest in [ Listing Single ]"></textarea>
            </div>
        </div>
        <div class="profile__agent__footer">
            <div class="form-group mb-0">
                <button class="btn btn-primary text-capitalize btn-block"> send message <i
                        class="fa fa-paper-plane ml-1"></i></button>

            </div>
        </div>
    </div>

</div>
<!-- END PROFILE AGENT -->