<div class="col-md-6 col-lg-6">
    <a href="#" class="profile__agents-avatar">
        <img src="../../images/placeholder/500x400.jpg" alt="" class="img-fluid ">
        <div class="total__property-agent">20 listing</div>
    </a>
</div>
<div class="col-md-6 col-lg-6 my-auto">
    <div class="profile__agents-info">
        <h5 class="text-capitalize">
            <a href="#" target="_blank">jhon doe</a>
        </h5>
        <p class="text-capitalize mb-1">property agent</p>

        <ul class="list-unstyled mt-2">
            <li><a href="#" class="text-capitalize"><span><i class="fa fa-building"></i> office :</span> 123 456
                    789</a>
            </li>
            <li><a href="#" class="text-capitalize"><span><i class="fa fa-phone"></i> mobile :</span> 123 456
                    789</a></li>
            <li><a href="#" class="text-capitalize"><span><i class="fa fa-fax"></i> fax : </span> 342 655</a></li>
            <li><a href="#" class="text-capitalize"><span><i class="fa fa-envelope"></i> email :</span>
                    agents@property.com</a></li>
        </ul>
        <p class="mb-0 mt-3">
            <button class="btn btn-social btn-social-o facebook mr-1">
                <i class="fa fa-facebook-f"></i>
            </button>
            <button class="btn btn-social btn-social-o twitter mr-1">
                <i class="fa fa-twitter"></i>
            </button>

            <button class="btn btn-social btn-social-o linkedin mr-1">
                <i class="fa fa-linkedin"></i>
            </button>
            <button class="btn btn-social btn-social-o instagram mr-1">
                <i class="fa fa-instagram"></i>
            </button>

            <button class="btn btn-social btn-social-o youtube mr-1">
                <i class="fa fa-youtube"></i>
            </button>
        </p>

    </div>
</div>