<!-- RECENT PROPERTY -->
<div class="slider__property bg-light">

    <div class="slider__property-carousel-large owl-carousel owl-theme">
        <div class="item">
            <a href="#">
                <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid">
            </a>
        </div>
        <div class="item">
            <a href="#">
                <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid">
            </a>
        </div>


    </div>

</div>
<!-- END RECENT PROPERTY -->