<div class="slider__image__detail-large owl-carousel owl-theme">
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>

        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>

        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>

    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>

            </div>
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-large-one">
            <img src="../../images/placeholder/1920x1080.jpg" alt="" class="img-fluid w-100 img-transition">
            <div class="description">
                <figure>
                    <img src="../../images/placeholder/80x80.jpg" alt="" class="img-fluid">
                </figure>
                <span class="badge badge-primary text-capitalize mb-2">house</span>
                <div class="price">
                    <h5 class="text-capitalize">$13,000/mo</h5>
                </div>
                <h4 class="text-capitalize">Luxury Family Home</h4>
                <!-- <p class="text-uppercase">
                    166 welling street, collingwood, vic 3066
                </p> -->
            </div>
        </div>
    </div>
</div>

<div class="slider__image__detail-thumb owl-carousel owl-theme">
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
    <div class="item">
        <div class="slider__image__detail-thumb-one">
            <img src="../../images/placeholder/600x400.jpg" alt="" class="img-fluid w-100 img-transition">
        </div>
    </div>
</div>